.footer {
  padding: 1rem;
  text-align: center;
  position: static;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  color: var(--muted);
  font-weight: 200;
  font-size: 13px;
  margin-top: auto;
  opacity: 0.1;
}

.footerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
  gap: 0.75rem;
  letter-spacing: 0.1em;
}

.footerItem a {
  text-decoration: none;
  color: var(--muted);
}

.footerItem a:hover {
  text-decoration: none;
  color: var(--muted);
}
