.container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  min-height: 100vh;
  padding-bottom: 4rem; /* Add padding to avoid content overlap with footer */
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
  width: 100%; /* Make sure the content takes the full width of the container */
  justify-content: center; /* Center the grid items horizontally */
}

.project {
  font-weight: 300;
  opacity: 0.1;
  text-align: right;
  transition: opacity 1s;
  font-size: 80px;
}

.year {
  font-weight: 400;
  opacity: 0;
  text-align: right;
  font-size: 20px;
  transition: opacity 1s;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }

  .mobileMessage {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
  }
}
