:root {
  width: 100%;
  height: 100%;
  color-scheme: light dark;

  --black: #0f0f0f;
  --white: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
button {
  font-family: inherit;
  font-weight: 400;
}

html,
body {
  background-color: var(--white);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--black);
  }

  input,
  textarea,
  button {
    background-color: var(--black);
  }
}
